{% extends 'blog/base.html' %}
{% block content %}
                {% for post in posts %}
                    <div class="post">
                        <div class="date">
                            <p>published: {{ post.published_date }}</p>
                        </div>
                        <!--post_detail ottaa siis postin nimen ja laittaa urlin. pk on primarykey jolla löytää-->
                        <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
                        <p>{{ post.text|linebreaksbr }}</p>
                    </div>
                {% endfor %}
            {% endblock %}
